* {
    font-family: "FiraCode Nerd Font";
    font-weight: bold;
    font-size: 16px;
    color: #dcdfe1;
}

#waybar {
    background-color: rgba(12, 12, 12, 0.85);
}

tooltip {
    background: rgba(12, 12, 12, 0.85);
    border-radius: 8px;
    color: #e0e0e0;
    font-size: 12px;
}

#custom-archlogo {
    padding: 0 18px 0 12px;
    margin: 0 8px;
    font-size: 18px;
}

#workspaces button {
    padding: 2px 8px;
    margin: 4px;
    transition: 0.2s all;
}

#workspaces button.active {
    box-shadow: inset 0 -3px #dcdfe1;
    border-radius: 4px;
}

/*
#workspaces button.urgent {
    background-color: #eb4d4b;
}
*/

#mode, #window, #scratchpad,
#pulseaudio,
#language,
#temperature,
#battery,
#memory,
#clock,
#custom-lesson-warning,
#cpu {
    padding: 4px 8px;
    background-color: #2e2e2e;
    border-radius: 8px;
    margin: 4px;
}

#pulseaudio, #network, #memory, #cpu {
    padding: 4px 2px;
}

#battery.critical {
	color: #ff5555;
	font-weight: bold;
	animation: blink 0.5s infinite;
}

@keyframes blink {
	0% {opacity: 1;}
	50% {opacity: 0.4;}
	100% {opacity: 1;}
}

#pulseaudio.muted {
    color: #FF0000;
}


#clock {
    margin-left: 8px;
    padding-right: 8px;
}
#tray {
    margin: 0 8px;
}

#custom-lesson-warning.warning { /*Class is about to end */
    background: #fab387;
    color: #1e1e2e;
    padding: 0 10px;
    border-radius: 8px;
}

#custom-lesson-warning.break { /* I am on break */
    background: #90ee90;
    color: #000000;
    padding: 0 10px;
}

